#Winamp Classic
wps: /.rockbox/wps/winamp.wps
font: /.rockbox/fonts/14-Adobe-Helvetica-Bold.fnt
foreground color: 00FF00
background color: 000000
backdrop: -
sbs: /.rockbox/wps/winamp.sbs
selector type: bar (color)
line selector start color: 0000C6
line selector end color: 0000C6
line selector text color: FFFFFF
statusbar: off
album art: prefer embedded
context_wps: Open Plugin
openplugin: "WPS Hotkey", "milkdrop", "/.rockbox/rocks/demos/milkdrop.rock", ""
